@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #ffffff;
    --background-dark: #0d0d0e;
  }
  
  body {
    background-color: var(--background-light);
    color: #0d0d0e ;
  }
  
  .dark body {
    background-color: var(--background-dark);
    color: white;
  }
