@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-for-screen {
  display: none;
}
/* This class will force a page break before the element */
.page-break {
  page-break-before: always;
}

/* This class will prevent a page break inside the element */
.no-page-break {
  page-break-inside: avoid;
}

:root {
  --background-light: #ffffff;
  --background-dark: #131414;
  --color-primary-lighter: #c8fad6;
  --color-primary-light: #5be49b;
  --color-primary-main: #00a76f;
  --color-primary-dark: #007867;
  --color-primary-darker: #004b50;
  --color-secondary-lighter: #efd6ff;
  --color-secondary-light: #c684ff;
  --color-secondary-main: #8e33ff;
  --color-secondary-dark: #5119b7;
  --color-secondary-darker: #27097a;
  --color-info-lighter: #cafdf5;
  --color-info-light: #61f3f3;
  --color-info-main: #00b8d9;
  --color-info-dark: #006c9c;
  --color-info-darker: #003768;
  --color-sucess-lighter: #d3fcd2;
  --color-sucess-light: #77ed8b;
  --color-sucess-main: #22c55e;
  --color-sucess-dark: #118d57;
  --color-sucess-darker: #065e49;
  --color-warning-lighter: #fff5cc;
  --color-warning-light: #ffd666;
  --color-warning-main: #ffab00;
  --color-warning-dark: #b76e00;
  --color-warning-darker: #7a4100;
  --color-error-lighter: #ffe9d5;
  --color-error-light: #ffac82;
  --color-error-main: #ff5630;
  --color-error-dark: #b71d18;
  --color-error-darker: #7a0916;
  --color-gray-50: #fcfdfd;
  --color-gray-100: #f9fafb;
  --color-gray-200: #f4f6f8;
  --color-gray-300: #dfe3e8;
  --color-gray-400: #c4cdd5;
  --color-gray-500: #919eab;
  --color-gray-600: #637381;
  --color-gray-700: #454f5b;
  --color-gray-800: #1c252e;
  --color-gray-900: #141a21;
  --shadow-z1: none;
  --shadow-z2: 0px 3px 1px -2px rgba(145 158 171 / 0.2),
    0px 2px 2px 0px rgba(145 158 171 / 0.14),
    0px 1px 5px 0px rgba(145 158 171 / 0.12);
  --shadow-z3: 0px 3px 3px -2px rgba(145 158 171 / 0.2),
    0px 3px 4px 0px rgba(145 158 171 / 0.14),
    0px 1px 8px 0px rgba(145 158 171 / 0.12);
  --shadow-z4: 0px 2px 4px -1px rgba(145 158 171 / 0.2),
    0px 4px 5px 0px rgba(145 158 171 / 0.14),
    0px 1px 10px 0px rgba(145 158 171 / 0.12);
  --shadow-z5: 0px 3px 5px -1px rgba(145 158 171 / 0.2),
    0px 5px 8px 0px rgba(145 158 171 / 0.14),
    0px 1px 14px 0px rgba(145 158 171 / 0.12);
  --shadow-z6: 0px 3px 5px -1px rgba(145 158 171 / 0.2),
    0px 6px 10px 0px rgba(145 158 171 / 0.14),
    0px 1px 18px 0px rgba(145 158 171 / 0.12);
  --shadow-z7: 0px 4px 5px -2px rgba(145 158 171 / 0.2),
    0px 7px 10px 1px rgba(145 158 171 / 0.14),
    0px 2px 16px 1px rgba(145 158 171 / 0.12);
  --shadow-z8: 0px 5px 5px -3px rgba(145 158 171 / 0.2),
    0px 8px 10px 1px rgba(145 158 171 / 0.14),
    0px 3px 14px 2px rgba(145 158 171 / 0.12);
  --shadow-z9: 0px 5px 6px -3px rgba(145 158 171 / 0.2),
    0px 9px 12px 1px rgba(145 158 171 / 0.14),
    0px 3px 16px 2px rgba(145 158 171 / 0.12);
  --shadow-z10: 0px 6px 6px -3px rgba(145 158 171 / 0.2),
    0px 10px 14px 1px rgba(145 158 171 / 0.14),
    0px 4px 18px 3px rgba(145 158 171 / 0.12);
  --shadow-z11: 0px 6px 7px -4px rgba(145 158 171 / 0.2),
    0px 11px 15px 1px rgba(145 158 171 / 0.14),
    0px 4px 20px 3px rgba(145 158 171 / 0.12);
  --shadow-z12: 0px 7px 8px -4px rgba(145 158 171 / 0.2),
    0px 12px 17px 2px rgba(145 158 171 / 0.14),
    0px 5px 22px 4px rgba(145 158 171 / 0.12);
  --shadow-z13: 0px 7px 8px -4px rgba(145 158 171 / 0.2),
    0px 13px 19px 2px rgba(145 158 171 / 0.14),
    0px 5px 24px 4px rgba(145 158 171 / 0.12);
  --shadow-z14: 0px 7px 9px -4px rgba(145 158 171 / 0.2),
    0px 14px 21px 2px rgba(145 158 171 / 0.14),
    0px 5px 26px 4px rgba(145 158 171 / 0.12);
  --shadow-z15: 0px 8px 9px -5px rgba(145 158 171 / 0.2),
    0px 15px 22px 2px rgba(145 158 171 / 0.14),
    0px 6px 28px 5px rgba(145 158 171 / 0.12);
  --shadow-z16: 0px 8px 10px -5px rgba(145 158 171 / 0.2),
    0px 16px 24px 2px rgba(145 158 171 / 0.14),
    0px 6px 30px 5px rgba(145 158 171 / 0.12);
  --shadow-z17: 0px 8px 11px -5px rgba(145 158 171 / 0.2),
    0px 17px 26px 2px rgba(145 158 171 / 0.14),
    0px 6px 32px 5px rgba(145 158 171 / 0.12);
  --shadow-z18: 0px 9px 11px -5px rgba(145 158 171 / 0.2),
    0px 18px 28px 2px rgba(145 158 171 / 0.14),
    0px 7px 34px 6px rgba(145 158 171 / 0.12);
  --shadow-z19: 0px 9px 12px -6px rgba(145 158 171 / 0.2),
    0px 19px 29px 2px rgba(145 158 171 / 0.14),
    0px 7px 36px 6px rgba(145 158 171 / 0.12);
  --shadow-z20: 0px 10px 13px -6px rgba(145 158 171 / 0.2),
    0px 20px 31px 3px rgba(145 158 171 / 0.14),
    0px 8px 38px 7px rgba(145 158 171 / 0.12);
  --shadow-z21: 0px 10px 13px -6px rgba(145 158 171 / 0.2),
    0px 21px 33px 3px rgba(145 158 171 / 0.14),
    0px 8px 40px 7px rgba(145 158 171 / 0.12);
  --shadow-z22: 0px 10px 14px -6px rgba(145 158 171 / 0.2),
    0px 22px 35px 3px rgba(145 158 171 / 0.14),
    0px 8px 42px 7px rgba(145 158 171 / 0.12);
  --shadow-z23: 0px 11px 14px -7px rgba(145 158 171 / 0.2),
    0px 23px 36px 3px rgba(145 158 171 / 0.14),
    0px 9px 44px 8px rgba(145 158 171 / 0.12);
  --shadow-z24: 0px 11px 15px -7px rgba(145 158 171 / 0.2),
    0px 24px 38px 3px rgba(145 158 171 / 0.14),
    0px 9px 46px 8px rgba(145 158 171 / 0.12);
}

body {
  background-color: var(--background-light);
  color: #141a21;
}

.dark body {
  background-color: var(--background-dark);
  color: white;
}
@media print {
  .hide-in-print {
    display: none !important;
  }
}